---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Hero from "../components/weather/Hero.astro";
import HourlyForecast from "../components/weather/HourlyForecast.astro";
import DailyForecast from "../components/weather/DailyForecast.astro";
import StatCard from "../components/weather/StatCard.astro";
import SearchBar from "../components/weather/SearchBar.astro";
import ErrorState from "../Error/ErrorState.astro";

import { loadWeatherFromUrl } from "../services/weather";
const weatherData = await loadWeatherFromUrl(Astro.url.searchParams);
---

<Layout>
    {/* === ZONA FIJA === */}
    {/* Estos componentes se renderizan SIEMPRE, pase lo que pase */}
    <Header />
    <Hero />
    <SearchBar />

    {/* === ZONA DINÁMICA === */}

    {
        weatherData ? (
            /* OPCIÓN A: ENCONTRAMOS LA CIUDAD -> MUESTRA EL CLIMA */
            <>
                <div class="flex flex-row gap-5 max-w-7xl my-0 mx-20 min-h-4/5 items-stretch pb-10">
                    <div class="flex-3 flex flex-col gap-5 h-auto">
                        <StatCard />
                        <DailyForecast class="flex-1" />
                    </div>
                    <aside class="flex-1 flex flex-col h-auto">
                        <HourlyForecast class="flex-1 h-full" />
                    </aside>
                </div>
            </>
        ) : (
            /* OPCIÓN B: NO ENCONTRAMOS LA CIUDAD -> MUESTRA EL ERROR */
            <ErrorState />
        )
    }
</Layout>
