---
import WeatherIcon from "./WeatherIcon.astro";

interface Props {
    hourly: {
        time: string[];
        temperature_2m: number[];
        weather_code: number[];
    };
}

const { hourly } = Astro.props;

// YA NO CORTAMOS AQUÍ. Mapeamos todo lo que nos mande la utilidad (24 horas).
const horasParaMostrar = hourly.time.map((time, i) => {
    return {
        horaLegible: new Date(time).toLocaleTimeString("es-ES", {
            hour: "2-digit",
            minute: "2-digit",
        }),
        temperatura: Math.round(hourly.temperature_2m[i]),
        codigoClima: hourly.weather_code[i],
    };
});
---

<div
    class="flex flex-col gap-3 p-2 max-h-[calc(100vh-200px)] overflow-y-auto scrollbar-thin scrollbar-thumb-white/20 scrollbar-track-transparent pr-2"
>
    {
        horasParaMostrar.map((item) => (
            <div class="flex flex-row items-center justify-between p-1 theme-card shrink-0">
                <div class="flex flex-row items-center gap-2 text-white">
                    <WeatherIcon
                        code={item.codigoClima}
                        class="w-10 h-10 mb-2"
                    />
                    <span class="text-sm font-light">{item.horaLegible}</span>
                </div>
                <span class="text-xl font-semibold text-white">
                    {item.temperatura}°
                </span>
            </div>
        ))
    }
</div>
