---
// ==========================================
// LAYOUT PRINCIPAL (WRAPPER GLOBAL)
// ==========================================
// Este componente define la estructura HTML básica de toda la aplicación.
// Incluye:
// - Metadatos del HEAD (charset, viewport, titulo).
// - Fuentes globales (Bricolage Grotesque, DM Sans).
// - Estilos CSS globales.

import "@fontsource-variable/bricolage-grotesque";
import "@fontsource-variable/dm-sans";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Weather Now</title>
		<ClientRouter />
	</head>
	<body class="bg-neutral-900">
		{
			/* SLOT: Aquí se inyecta el contenido de las páginas (ej. index.astro) */
		}
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
