<div class="w-full h-full flex justify-center items-center">
    <button
        class="bg-blue-600 text-white font-DMSans-700 w-full py-2 mx-2 rounded-lg lg:max-w-24"
    >
        Search
    </button>
</div>
