---

---

<div class="w-full h-full flex justify-center items-center lg:w-32 lg:h-auto">
    <button
        class="bg-blue-600 text-white font-DMSans-700 w-full py-2 rounded-lg hover:bg-blue-700 transition-colors cursor-pointer"
    >
        Search
    </button>
</div>
